/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== LOGIN ===============*/
.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.login__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login__form {
  background-position: 10% ;
  position: relative;
  margin-inline: 1.5rem;
  background-color: whitesmoke;
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding: 1rem 1rem;
  color: black;
  border-radius: 1rem;
  backdrop-filter: blur(100%);
}

.log__header {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    gap: 1rem; /* Adds some space between the image and the heading */
    margin-bottom: 0.1rem;
}

.logo {
    height: 6rem;
}

.login__title {
    text-align: left;
    font-size: 1.40rem;
    margin-bottom: 1.25rem;
    margin-top: 1rem;
}

.login__inputs, 
.login__box {
  display: grid;
}

.login__inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;

}

.login__box {
  grid-template-columns: 1fr max-content;
  height: 2rem;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding-inline: 1.25rem;
  border-radius: 0.5rem;
  background-color: var(--white-color);

}

.break{
  border: none;           /* Remove the default border */
  border-top: 2px solid black; /* Set the line thickness and color */
  width: 50%;             /* Set the line width (e.g., 50% of the container) */
  margin: -10px auto 1rem auto; /* Move it 10px up and center it */
  margin-bottom: 0.875rem;

}

.login__input, 
.login__button {
  border: none;
  outline: none;
}

.login__input {
  width: 100%;
  background: none;
  color: black;
  font-size: 87%;
}

.login__box::placeholder {
  color: black;
}

.login__box i {
  font-size: 1rem;
  color: black;

}

.login__check, 
.login__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}

.login__check-box {
  column-gap: .5rem;
}

.login__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}

.login__forgot {
  color: var(--black-color);
}

.login__forgot:hover {
  text-decoration: underline;
}

.login__button {
  width: 35%;
  height: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left:7.3rem;
  background-color: black;
  border-radius: 0.5rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
  padding: 0.1rem 1rem;
}

.login__register {
  font-size: var(--small-font-size);
  text-align: center;
}

.login__register a {
  color: black;
  font-weight: 500;
  text-decoration: underline;
}

.login__register a:hover {
  text-decoration: underline;
}
.messages {
  margin: 10px 0;
}

.alert {
  background-color: #f8d7da; /* Light red background */
  color: #721c24; /* Dark red text */
  padding: 10px;
  border: 1px solid #f5c6cb; /* Light red border */
  border-radius: 5px;
} 



/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }
  .login__form {
    width: 420px;
    padding-inline: 2.5rem;
  }
  .login__title {
    margin-bottom: 2rem;
  }
}